extends ../../layout/default.pug
//- mixin(nhúng)
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug

block main
  h1 trang danh sach san pham

  .card.mb-3 
    .card-header Bo loc va tim kiem 
    .card-body.mb-3
      .row
        .col-6
          +filter-status(filtersStatus)
          //- button(
          //-   class="btn btn-sm ml-1 btn-outline-success"
          //-   button-status="active"
          //-   ) Hoat dong
          //- button(
          //-   class="btn btn-sm ml-1 btn-outline-success"
          //-   button-status="inactive"
          //-   ) Dung hoat dong
          
        .col-6
          +search(keyword)
          //- form(id="form-search")
          //-   .input-group 
          //-     input(
          //-       type = "text"
          //-       placeholder = "nhap tu khoa" 
          //-       name = "keyword"
          //-       class = "form-control"
          //-       value =  keyword              
          //-     )
          //-     .input-group-append 
          //-       button(
          //-         class = "btn btn-success"
          //-         type = "submit"
          //-       ) Tim kiem
  .card
    .card-header Danh sach san pham
    .card-body
      table.table.table-hover.table-sm
        thead
          tr
            th STT
            th Hinh anh
            th Tieu de 
            th Gia 
            th Trang thai 
            th Hanh dong
        
        tbody 
          each item, index in products
            tr
              td #{index + 1}
              td 
                img(src= item.thumbnail, alt="alt" width="100px" height="auto")
              td #{item.title}
              td #{item.price}
              td  
                if(item.status == "active")
                  a(href="#" class="badge badge-success") Dang Hoat dong
                else
                  a(href="#" class="badge badge-danger") Dug Hoat dong

              td 
                button(class="btn btn-warning btn-sm") Sua
                button(class="btn btn-danger btn-sm ml-1") Xoa


