extends ../../layout/default.pug
//- extend: ke thua layout
//- inclue: nhúng 
include ../../mixins/box-head.pug
block main 
  .container.my-3
    .row
      .col-12
        +box-head("Danh sach san pham")
    .row  
      .col-4.mb-3 
        .product-item 
          .inner-image 
            img(src="https://images.unsplash.com/photo-1596558450268-9c27524ba856?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aXBob25lJTIwOXxlbnwwfHwwfHx8MA%3D%3D" , alt="iphone 9") 
         
          .inner-content 
            h3.inner-title Iphone 9
            .inner-price-new 80$
            .inner-price-old 100$
            .inner-discount -20%
//- overrite block main