.sider
  .inner-menu
    ul
      li
        a(href= `${prefixAdmin}/dashboard`) Tổng quan
      li 
        a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
      li 
        a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
      li 
        a(href=`${prefixAdmin}/roles`) Nhóm quyền

//- nhung file js vao file pug === truyen bien tu file js vao file pug
//- cos thể truyền qua controller nhưng mất thời gian nếu phải sửa nhiều đồng thời
