.sider
  .inner-menu
    ul
      li
        a(href= `${prefixAdmin}/dashboard`) Tong quan 
      li 
        a(href=`${prefixAdmin}/products`) Danh sach san pham
      li 
        a(href=`${prefixAdmin}/products-category`) Danh muc san pham

//- nhung file js vao file pug === truyen bien tu file js vao file pug
//- cos thể truyền qua controller nhưng mất thời gian nếu phải sửa nhiều đồng thời
